li {
  list-style-type: none;
}
ul {
  margin: 0;
  padding: 0;
}
.skill-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
}
.skill-image {
  max-width: 550px;
}
