.project-videos {
  width: 400px;
  margin: 20px;
}
.project-container-container {
  /* background-color: #1f7a8c; */
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  background-image: url("https://res.cloudinary.com/dbmxg3su8/image/upload/v1621611824/65257046-white-triangle-background-abstract_ggxchv.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.left {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.project-container {
  background-color: #1f7a8c;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 20px;
  border-radius: 15px;
  margin-left: 20px;
  margin-right: 20px;
}
.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.button-space {
  margin-left: 10px;
  padding-bottom: 15px;
}
.project-title {
  padding-top: 40px;
  font-size: 50px;
  text-decoration: underline;
}
